
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.h1,h2{
color: #000;
}

body {
  background: #f4f4f4;
  color: #333;
}

.auth-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  background: #ffffff;
  width: 100%;
  max-width: 380px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.auth-card h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.auth-subtitle {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  width:full;
}

.form-group label {
  font-size: 0.85rem;
  margin-bottom: 0.4rem;
}

.form-group input {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
}

.form-group input:focus {
  outline: none;
  border-color: #333;
}

.btn-primary {
  padding: 0.75rem;
  border: none;
  width: 50%  ;
  border-radius: 4px;
  background: #333;
  color: #fff;
  cursor: pointer;
  font-size: 0.95rem;
}

.btn-primary:hover {
  background: #000;
}

.error-banner {
  background: #ffe5e5;
  color: #cc0000;
  padding: 0.6rem;
  border-radius: 4px;
  font-size: 0.85rem;
}

.auth-switch {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.85rem;
}

.auth-switch a {
  color: #333;
  text-decoration: underline;
}
